@model CompanyCall.Models.Entity.Company

@{
    ViewBag.Title = "EditProfile";
    Layout = "~/Views/Shared/CompanyLayout.cshtml";
}

<h2 >Edit Company Profile</h2>
<br />

<h2 style="color:green;font-size:25px;">@ViewBag.f</h2>


<form method="post">

    <br />
    @using (Html.BeginForm("EditProfile", "Default", FormMethod.Post))
    {
        @Html.HiddenFor(x => x.ID)
        @Html.Label("Company Name")
        @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
        <br />

        @Html.HiddenFor(x => x.ID)
        @Html.Label("Competent")
        @Html.TextBoxFor(x => x.Competent, new { @class = "form-control" })
        <br />

        @Html.HiddenFor(x => x.ID)
        @Html.Label("Password")
        @Html.PasswordFor(x => x.Sifre, new { @class = "form-control" })
        <br />

        @Html.HiddenFor(x => x.ID)
        @Html.Label("Province")
        @Html.TextBoxFor(x => x.Province, new { @class = "form-control" })
        <br />
        @Html.HiddenFor(x => x.ID)
        @Html.Label("Distirct")
        @Html.TextBoxFor(x => x.Distirct, new { @class = "form-control" })
        <br />
        @Html.HiddenFor(x => x.ID)
        @Html.Label("Adress")
        @Html.TextAreaFor(x => x.Address, 10, 4, new { @class = "form-control" })
        <br />



    }
    <button class="btn btn-primary">Save</button>

</form>


